<!DOCTYPE html>
<html lang="en">
<head th:replace="base :: head"></head>
<body>
<header th:replace="base :: header"></header>
<main>
    <div class="container center-div">
        <div class="m-2">
            <form th:action="@{/user-password-update}" method="post">
                <div class="row p-2">
                    <div class="col">
                        <label for="originPassword">Текущий пароль</label><br>
                        <input type="password" name="oldPassword" id="originPassword" placeholder="Введите пароль"/>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <label for="newPassword">Новый пароль</label><br>
                        <input type="password" name="newPassword" id="newPassword" placeholder="Введите новый пароль"/>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <label for="newPasswordConfirmation">Новый пароль</label><br>
                        <input type="password" id="newPasswordConfirmation"
                               placeholder="Повторно введите новый пароль"/>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" style="width: 60%">Изменить</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <div class="row p-2" th:if="${exception != null}">
                <div class="col">
                    <div style="color: #ff0000" th:utext="${exception}"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    const submittedFrom = document.querySelector("form");
    submittedFrom.addEventListener("submit", event => {
        event.preventDefault();
        const form = document.forms[0];
        let newPassword = form.elements["newPassword"].value;
        let newPasswordConfirmation = form.elements["newPasswordConfirmation"].value;
        if (newPasswordConfirmation === newPassword) {
            form.submit();
        } else {
            alert("Новый пароль не совпадает");
        }
    })
</script>
</body>
</html>