<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="admin/admin-base :: head"></head>
<body>
<header th:replace="admin/admin-base :: header"></header>
<div class="container center-div">
    <div>
        <form th:action="@{/admin/brand-update}" th:object="${brand}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="row p-2">
                <div class="col">
                    <label for="name">Название бренда</label><br>
                    <input type="text" th:field="*{name}" id="name"
                           placeholder="Введите бренд"/>
                </div>
            </div>
            <div class="row p-2">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary" style="width: 60%">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="row p-2" th:if="${exception != null}">
            <div class="col">
                <div style="color: #ff0000" th:utext="${exception}"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const formSubmitted = document.querySelector("form");
    formSubmitted.addEventListener("submit", event => {
        event.preventDefault();
        const name = document.getElementById("name").value;
        if (name) {
            formSubmitted.submit();
        } else {
            alert("Не правильно введенные данные");
        }
    })
</script>
</body>
</html>