<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-base :: head"></head>
<body>
<header th:replace="admin/admin-base :: header"></header>
<div class="container center-div">
    <div>
        <form th:action="@{/admin/station-connector-update}" th:object="${stationConnector}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="row p-2">
                <div class="col">
                    <label for="stationId">ID станции</label><br>
                    <select th:field="*{stationId}" id="stationId" style="width: 188px">
                        <option th:each="item: ${stations}" th:value="${item.id}" th:utext="${item.id}"></option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <label for="connectorId">ID коннектора</label><br>
                    <select th:field="*{connectorId}" id="connectorId" style="width: 188px">
                        <option th:each="item: ${connectors}" th:value="${item.id}" th:utext="${item.id}"></option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary" style="width: 60%">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="row p-2" th:if="${exception != null}">
            <div class="col">
                <div style="color: #ff0000" th:utext="${exception}"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const formSubmitted = document.querySelector("form");
    formSubmitted.addEventListener("submit", event => {
        event.preventDefault();
        const stationId = document.getElementById("stationId").value;
        const connectorId = document.getElementById("connectorId").value;
        if (stationId && connectorId) {
            formSubmitted.submit();
        } else {
            alert("Не правильно введенные данные");
        }
    })
</script>
</body>
</html>