<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/admin-base :: head"></head>
<body>
<header th:replace="admin/admin-base :: header"></header>
<main>
    <div class="container">
        <div class="row m-2">
            <div class="col">
                <div class="row"><a href="/admin/statistics">Статистика посещения сайта за всё время</a></div>
                <div class="row"><a href="/admin/statistics-year">Статистика посещения сайта за текущий год</a></div>
                <div class="row"><a href="/admin/statistics-month">Статистика посещения сайта за текущий месяц</a></div>
            </div>
            <div class="col">
                <div class="row"><a href="/admin/statistics-page">Статистика посещения страниц сайта за всё время</a>
                </div>
                <div class="row"><a href="/admin/statistics-page-year">Статистика посещения страниц сайта за текущий
                    год</a></div>
                <div class="row"><a href="/admin/statistics-page-month">Статистика посещения страниц сайта за текущий
                    месяц</a></div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <div class="row"><a href="/admin/statistics-stations-hours">Статистики времени брони станций за всё
                    время</a></div>
                <div class="row"><a href="/admin/statistics-stations-hours-year">Статистики времени брони станций за текущий
                    год</a></div>
                <div class="row"><a href="/admin/statistics-stations-hours-month">Статистики времени брони станций за текущий
                    месяц</a></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>