<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-base :: head"></head>
<body>
<header th:replace="admin/admin-base :: header"></header>
<div class="container center-div">
    <div>
        <form th:action="@{/admin/auto-create}" th:object="${auto}" method="post">
            <div class="row p-2">
                <div class="col">
                    <label for="brandId">ID Бренда</label><br>
                    <select th:field="*{brandId}" id="brandId" style="width: 188px">
                        <option th:each="item: ${brands}" th:value="${item.id}"
                                th:utext="${item.id}"></option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <label for="model">Модель</label><br>
                    <input type="text" th:field="*{model}" id="model" placeholder="Введите модель"/>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <label for="maxCharge">Максимальный заряд</label><br>
                    <input type="number" th:field="*{maxCharge}" id="maxCharge"
                           placeholder="Введите максимальный заряд"/>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <label for="connectorId">ID коннектора</label><br>
                    <select th:field="*{connectorId}" id="connectorId" style="width: 188px">
                        <option th:each="item: ${connectors}" th:value="${item.id}"
                                th:utext="${item.id}"></option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary" style="width: 60%">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="row p-2" th:if="${exception != null}">
            <div class="col">
                <div style="color: #ff0000" th:utext="${exception}"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const formSubmitted = document.querySelector("form");
    formSubmitted.addEventListener("submit", event => {
        event.preventDefault();
        const maxCharge = document.getElementById("maxCharge").value;
        const model = document.getElementById("model").value;
        if (model && maxCharge && maxCharge > 0) {
            formSubmitted.submit();
        } else {
            alert("Не правильно введенные данные");
        }
    })
</script>
</body>
</html>